.title {
    text-align: center;
    color: lightyellow;
    font-family: "Comic Sans MS", math;
}
.skills-container {
    margin-left: 15.5%;
    font-size: 20px;
    color: lightyellow;
    font-family: "Comic Sans MS", math;
    line-height: 0.8em;
}